.Recommendation {
  box-shadow: 2px 4px grey;
  background-color: floralwhite;
  height: 90vh;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.name{
  font-size: 2em;
  box-shadow: 2px 4px grey;
}
h3{
  width: 99%;
}