.Signup {
  display: block;
  height: 35%;
  width: 60vw;
  background-color: rgb(255, 218, 51);
  padding: 1rem;
  margin: 1em auto;
  box-shadow: 2px 5px grey;
  border-radius: 10px;
}

.input-box {
  margin: 0.4rem;
}

.left-col {
  display: inline-block;
  text-align: right;
  padding: 0.3em;
  width: 22%;
}

.right-col {
  display: inline-block;
  text-align: left;
  padding: 0.3em;
  width: 50%;
}

li {
  margin: 0.1em;
  padding: 0.1em;
}

.red {
  background-color: Tomato;
}

.green {
  background-color: YellowGreen;
}
