.circle {
  width: 40%;
  height: auto;
  border-radius: 50%;
  border: black solid 4px;
  text-align: center;
  clear: both ;
  margin: 0 auto;
  padding: 3%;
  background-color: white;
}

.Precipitation {
  display: block;
  margin: 0 auto;
}

